<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>React without Installation</title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- React 및 ReactDOM CDN 추가 -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
</head>
<body>
  <div id="root"></div> <!-- React 컴포넌트를 렌더링할 위치 -->

  <!-- JavaScript 파일 추가 -->
  <script src="/js/App.js"></script>
</body>
</html>
